@model Category

<h1>@TempData["stats"]</h1>
<form id="createCategoryForm" asp-action="createnew" asp-controller="Category" method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for ="Name" class="form-control"/>
        <span asp-validation-for ="Name" class="text-danger"></span>
    </div>
    <br>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for ="Description" class="text-danger"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial">
}